body {
    background-color: lightblue;
  }


h1 {
  color: blue;
}


div {
    background-color: lightblue;
  }
  
  p {
    background-color: rgb(151, 151, 146);
  }







/* Top, RIght, Bottom, left */
.