
<div {
  background-color: chocolate;
}

.title {
  align-content: center;
  color: blue;
  font-size: large;
}

h1 {
  color:blue;
  font-weight: 900;
  font-size: large;
}
  .Intro { 
     align-content:center;
     color: blue;
     font-size: large;
     font-weight: 700;
     text-align: center;
     background-color: chocolate;
  }
     

  .About-me {
    text-align: left;
    text-overflow: clip;
    background-color: chocolate;
  }
  #resize {
    border: 2px solid rgb(17, 0, 255);
    border-radius: 50%
    width: 500px;
    height: 445px;
    Float :right
  }


.skills {
  background-color: chocolate;
  text-overflow: ellipsis;

}

#resize2 {
  border: 2px solid rgb(17, 0, 255);
    border-radius: 50%
    width: 400px ;
    height: 400px ;
    Float :right
}

.intrests {
  background-color: chocolate;
text-align: left;
}


.Hobbies {
  background-color: chocolate;

}

.Projects {
  background-color: chocolate;
 text-align: left;
 flex-direction: column;
display: block;

}

.contacts {
  background-color: chocolate;

}




