
div {
  background-color: blue;
}

title{
  align-content: center;
  color: aliceblue;
  font-size: large;
  font-style: inherit;
  background-color:blue;
}


.Intro {
    color: rgb(173, 173, 185);
    background-color: blue;
}


body {
    color: lightblue;
  }


h1 {
  color: blue;
}



  p {
    background-color: rgb(151, 151, 146);
  }

